body {
    font-family: 'Montserrat', sans-serif;
    background:#F5F7FA
}
/* main content */
.main-container{
display:flex;
flex-direction: row-reverse;
width:1080px;
margin: 40px auto;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.content{
    background-color:#FFFFFF;
    padding:0px 0px 0px 90px;
    width: 615px;
}
/* header */
.position {
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px; 
    margin-bottom: 20px;
}
.name{
margin-top: 20px;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
color: #000000;
margin-bottom: 20px
}
.bio{
    background-color: #FFFFFF;
    width:525px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}
.label{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 45px;
    margin-bottom: 10px;
}

/* projects */
.projects{
    background-color: #FFFFFF;
    width:540px;
    margin-top: 40px;
    margin-left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects_list{
    padding:0 0 0 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
    
.projects_text_1{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
    }
.projects_text_2{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        }

/* experience */
.experience_label{
    background-color: #FFFFFF;
    width:525px;
    margin-top: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 25px 0 10px 0
}
.brand {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;
}
.dates {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 10px 0 0px 0;
}
.black_slash{
    color:black;
}
.responsibilities{
    width:525px;
    padding: 0px 0 0px 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}    
/*education*/
.education{
background-color: #FFFFFF;
width:525px;
padding-bottom: 40px;
}
.university{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 20px 0 0 0;
}
.degree{
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
margin: 20px 0 0 0;
}
/* sidebar */
.sidebar{
background-color: #1E2939;
width:370px;
padding-top: 40px;   
}

.aside-title-goit{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color:#FFFFFF;
    margin-top: 50px;
}
    .aside_label{
    margin-top: 50px;
    font-weight: 700;
    color:#FFFFFF ;
}

.side_content{
        padding-left: 40px;

    }


/* contacts */

.contacts-right{
margin-left: 10px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #565e6a;
}

.contacts-left{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    
}
/* tech skills */
.ul_bullet{
    padding:0px 0px 0px 30px;
}

.ul_info{
    color: #FB6D3A;
    padding-top: 5px;
}
.text_side{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #F5F7FA;
}